// const Grid = styled.div`
//     display : flex;
//     flex-direction : column;
//     height : 100%;
// `;

#root {
    height : 100vh;
  
}

.calendar_wrap {
    display : flex;
    flex-direction: column;
    height : 100vh;
   
}

.Header {
     display : flex;
     flex-direction: row;
    // margin-bottom : 10px;
    height : 5rem;
    align-items: center;
}

.Header-item {
 
  margin-left: auto;
  /* flex : 0 0 auto*/
}

.Header-item-login {
  height : 3em;
  margin-left : auto;
  background-color : #fcc2d7;
}

.app-title {
    height : 4rem;
    font-size : 1.5rem;
    display : flex;
    align-items: center;
    justify-content: center;
}

.calendar_layout {
    height : 100%;
    display : flex;
    flex : 1;
}

.calendar_content {
    display : flex;
    flex : 1;
    flex-direction: column;
    overflow : auto;
}

.day_title {
    position : relative;
    display : flex;
    flex : none;
    border-bottom : #dadce0 1px solid;
}
.calendar_row {
    position : relative;
    overflow : hidden;
    display : flex;
    border-bottom : #dadce0 1px solid;
    flex : 1 0 auto;

}

.columnheader {
    border-right : #dadce0 1px solid;
    flex : 1 1 0%;
    text-align: center;
    font-family: Roboto, Arial, sans-serif;
    text-transform: uppercase;
}

.changeMonth {
    height : 30px;
}

.item {
  font-size: 14px;
  line-height: 30px;
  border-right: #dadce0 1px solid;
  flex: 1 1 0%;
  text-align: center;
  font-family: Roboto, Arial, sans-serif;
  text-transform: uppercase;
  &:hover {
    background-color: #e6e6fa;
  }
}

.calendar_list {
    display : flex;
    flex-direction: column;
    flex : none;
    width :300px;
    background-color: #fdd7e4; 
    opacity: 0.6;
}

/** Modal **/



.modal-overlay {
  display : none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  opacity: .5;
}

.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
}

.modal {
  z-index: 100;
  background: white;
  position: absolute;
//   margin: 1.75rem auto;
  border-radius: 30px;
  border: 10px solid #e5ebee;
  width: 70%;
  height: 60%;
  transform : translate(-50%,-50%);
  top : 50%;
  left : 50%;
  padding : 2rem;
  padding-right : 3rem;
}

.modal-header {
  display: flex;
  justify-content: flex-end;
  background-color: #ffa8a8;
}

.modal-image-wrapper {
  position: relative;
  width : 100%;
  height : 100%;
  display : flex;
  justify-content: space-between;

}

.modal-close-button {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  opacity: .3;
  cursor: pointer;
  border: none;
}

button {
  font-size: .9rem;
  font-weight: 700;
  border: none;
  border-radius: 3px;
  padding: .3rem 1rem;
  margin-left: .5rem;
}

.button-default {
  background: #247BA0;
  color: #fff;
}