// const Grid = styled.div`
//     display : flex;
//     flex-direction : column;
//     height : 100%;
// `;

html, body {
    height : 100vh;
}

.calendar_wrap {
    display : flex;
    flex-direction: column;
    height : 100vh;
   
}

.Header {
     display : flex;
     flex-direction: row;
    // margin-bottom : 10px;
    height : 100px;
    
}

.app-title {
    height : 4rem;
    font-size : 1.5rem;
    display : flex;
    align-items: center;
    justify-content: center;
}

.calendar_layout {
    height : 100%;
    display : flex;
    flex : 1;
}

.calendar_content {
    display : flex;
    flex : 1;
    flex-direction: column;
    overflow : auto;
}

.day_title {
    position : relative;
    display : flex;
    flex : none;
    border-bottom : #dadce0 1px solid;
}
.calendar_row {
    position : relative;
    overflow : hidden;
    display : flex;
    border-bottom : #dadce0 1px solid;
    flex : 1 0 auto;

}

.columnheader {
    border-right : #dadce0 1px solid;
    flex : 1 1 0%;
    text-align: center;
    font-family: Roboto, Arial, sans-serif;
    text-transform: uppercase;
}

.changeMonth {
    height : 30px;
}

.item {
  font-size: 14px;
  line-height: 30px;
  border-right: #dadce0 1px solid;
  flex: 1 1 0%;
  text-align: center;
  font-family: Roboto, Arial, sans-serif;
  text-transform: uppercase;
  &:hover {
    background-color: #e6e6fa;
  }
}

.calendar_list {
    display : flex;
    flex-direction: column;
    flex : none;
    width :300px;
    background-color: #bfbab078; 
}